*{
    margin: 0;
    padding: 0;
}
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #6016aa;
    height: 50px;
    text-align: center;
}
.sticky h1{
    text-transform: uppercase;
    color: #a7968b;
}
.mother{
    display: flex;
}
.box{
    width: 100px;
    height:100px;
    background: salmon;
    margin: 2px;
    border-radius: 20px;
}
.box2{
    background:#124e67;
}
.box2:hover+.box3{
   background:#61377e;
}
.mother1{
    width: 140px;
    height: 140px;
    background: green;
    margin-bottom: 32px;
}


.inner:hover{
    background: rgba(173, 33, 33, 0.925);
    transform: rotate(45deg)scale(0.5);
    transition: 1s;
    border-radius: 50%;
}
.input input:focus{
    background: hotpink;
}
.p{
    background: chocolate;
    width: 500px;
    height: 500px;
    overflow: auto;
    margin-top: 20px;
}
.list ul li:nth-child(2n){
    color: rgb(252, 6, 39);
}
.h1{
    background: darkorchid;
    text-align: center;
    width: 100%;
    height: 200px;
    
}
.h1 h1{
    color: darkolivegreen;
    text-transform: uppercase;
}
.h1 h1::after{
    content: "";
    width: 300px;
    height: 2px;
    background: darkred;
    display: block;
    margin:auto
}
.h1 p::first-letter{
    font-size: 20px;
    color: #820707;

}
.h1 P{
    color: firebrick;
}
.mother2{
    width: 500px;
    height: 250px;
    background: green;
    position: absolute;
    overflow: hidden;
}
.child{
    width: 140px;
    height: 140px;
    background: rgb(138, 8, 8);
    position: relative;
    top: 25%;
    left:25%;
    border-radius: 50%;
    
}
.child:hover{
    opacity: .75;
}
.clip{
    background: rgb(71, 138, 8);
    width: 400px;
    height:400px;
}
.clip1{
    background: rgb(15, 22, 8);
    width: 300px;
    height: 300px;
    clip-path: polygon(23% 59%,38% 59%,46% 72%,53% 59%,67% 59%,59% 45%,67% 33%,52% 34%,45% 21%,39% 32%,23% 33%,32% 46%);

}